@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');



body {
    background-color: antiquewhite;

    font-family: Oswald;

    
}

ul {
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  list-style:none;
  font-size:2em;

}
header{
    
    margin:auto;
}



